<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GTA-V</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/Home_page_css.css" />
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>

    <section class="fix-back-img">
        
    </section>
    <section class="sec2">
    <header>
        <h2 class="logo">Luxury Los Santos</h2>
        <nav class="navigation">
            <a href="/" class="lines hideOnMobile">Home</a>
    
            <div class="dropdown hideOnMobile">
                <button class="dropbtn">Category 
                    <!-- <i class="fa fa-caret-down"></i> -->
                </button>
                <div class="dropdown-content">
                    <a href="/plans" class="hideOnMobile">Plans</a>
                    <a href="/cars" class="hideOnMobile">Cars</a>
                    <a href="/penthouses" class="hideOnMobile">Penthouses</a>
                    <a href="/yatches" class="hideOnMobile">Yachts</a>
                </div>
            </div>
            
            
            <% if (userEmail) { %>
                <a href="/cart" class="lines hideOnMobile">Cart</a>
                <form action="/logout" method="post" style="display:inline;">
                    <button type="submit" class="btnLogin-popup dropbtn hideOnMobile">Logout</button>
                </form>
                <a href="/profile" class="lines hideOnMobile">Profile</a>
            <% } else { %>
                <button class="btnLogin-popup dropbtn hideOnMobile">Login</button>
            <% } %>
        </nav>
        
            <a href="#" class="last hideOnMobile" onclick=showSidebar()><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 0 448 512" width="26"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg></a>


            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 0 384 512" width="26"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Contact</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Category 
                        <!-- <i class="fa fa-caret-down"></i> -->
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Plans</a>
                        <a href="#">Cars</a>
                        <a href="#">Penthouses</a>
                        <a href="#">Yachts</a>
                    </div>
                </div>
                <button class="btnLogin-popup">Login</button>
            </ul>            

        </nav>
        
    </header>

    

    <div class="sec2">
    <div class="cards-container cards-container1 active-popup">
        <a href="/cars" class="card kipon">
            <div class="card-content">
                <h2>Cars</h2>
                <p>Let's Drive</p>
            </div>
        </a>
        <a href="/plans" class="card robotrix">
            <div class="card-content">
                <h2>Planes</h2>
                <p>Fly over world</p>
            </div>
        </a>
    </div>
    <div class="cards-container cards-container2 active-popup">
        <a href="/yatches" class="card treasure-box">
            <div class="card-content">
                <h2>Yatches</h2>
                <p>Ocean ride</p>
            </div>
        </a>
        <a href="/penthouses" class="card explore">
            <div class="card-content">
                <h2>Penthouses</h2>
                <p>Luxury living</p>
            </div>
        </a>
    </div>

    <div class="wrapper">
        <span class="icon-close">
            <i class="fa-solid fa-xmark"></i>
        </span>
    
        <div class="form-box login">
            <h2>Login</h2>
            <form action="/login" method="post">
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <!-- <div class="remember-forgot">
                    <label>
                        <input type="checkbox">Remember me
                    </label>
                    <a href="#">Forgot Password?</a>
                </div> -->
                <button type="submit" class="btn" onclick="hideLoginButton()">Login</button>
                <div class="login-register">
                    <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
                </div>
            </form>
        </div>
    
        <div class="form-box register">
            <h2>Registration</h2>
            <form action="/register" method="post">

                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                    <input type="text" name="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-user"></i></span>
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <!-- <div class="remember-forgot">
                    <label>
                        <input type="checkbox"> I agree to the terms & conditions
                    </label>
                </div> -->
                <button type="submit" class="btn" onclick="hideLoginButton()">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
</section>

<section class="contact-section">
    <div class="contact-info">
        <div class="contact-item">
            <i class="fas fa-phone"></i>
            <h3>Call Us</h3>
            <p>Free Calls</p>
            <p>1-800-700-900</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Find Us</h3>
            <p>Ahmedabad University</p>
            <p>Ahmedabad, India</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <h3>Email Us</h3>
            <p>Direct Email</p>
            <p>mysantos@gmail.com</p>
        </div>
    </div>
</section>



<script>
    const wrapper = document.querySelector('.wrapper');
const loginLink = document.querySelector('.login-link');
const registerLink = document.querySelector('.register-link');
const btnPopup = document.querySelector('.btnLogin-popup');
const iconClose = document.querySelector('.icon-close');
const getloginpart = document.querySelector('.cards-container');
const firlogin = document.querySelector('.cards-container2');
const btnLoginNav = document.querySelector('.btnLogin-popup'); // Select the login button in the navigation

registerLink.addEventListener('click', () => {
wrapper.classList.add('active');
});

loginLink.addEventListener('click', () => {
wrapper.classList.remove('active');
});

btnPopup.addEventListener('click', () => {
wrapper.classList.add('active-popup');
getloginpart.classList.remove('active-popup');
firlogin.classList.remove('active-popup');
});

iconClose.addEventListener('click', () => {
wrapper.classList.remove('active-popup');
getloginpart.classList.add('active-popup');
firlogin.classList.add('active-popup');
});

// Function to hide the login button
function hideLoginButton() {
btnLoginNav.style.display = 'none';
}

function showSidebar(){
const sidebar = document.querySelector('.sidebar');
sidebar.style.display = 'flex';
}

function hideSidebar(){
const sidebar = document.querySelector('.sidebar');
sidebar.style.display = 'none';
}

window.addEventListener('load', () => {
    const urlParams = new URLSearchParams(window.location.search);
    const message = urlParams.get('message');
    if (message) {
        alert(message);
    }
});
</script>
</body>
</html>
